---

name: Release on Pull

permissions:
  contents: read

on:
  push:
    tags:
      - "v*"

jobs:
  push-resources:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          fetch-depth: 0
