---
name: Relase Please Merge
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  tag-new-version:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
    steps:
      - name: Create Release Tag
        id: tag
        uses: google-github-actions/release-please-action@v3
        with:
          command: manifest # use configs in release-please-config.json
          release-type: simple
      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT

  dummy-job:
    runs-on: ubuntu-latest
    needs: tag-new-version 
    steps:
      - name: Echo release
        run: echo "release_created=${{ needs.tag-new-version.outputs.release_created }}" 
      